numpy>=1.26
pandas>=2.2
pyarrow>=15
scipy>=1.11
scikit-learn>=1.4
statsmodels>=0.14
pmdarima>=2.0
prophet>=1.1
lightgbm>=4.0
sktime>=0.30
numba>=0.59
shap>=0.44
matplotlib>=3.8
seaborn>=0.13
plotly>=5.18
missingno>=0.5
tqdm>=4.66
jupyter>=1.0
ipykernel>=6.29
